@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

@media (min-height: 400px) and (orientation: landscape){
  
  .container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: #81284121;
  }

  .coursesLayout {
    background-color: #d1d1d15e;
    height: 100vh;
    width: 27vw;
    display: flex;
    justify-content: center;
    padding: 0vh 1vw 5vh 2vw;
  }

  .schedule {
    /*background-color: aquamarine;*/
    padding: 10px 30px 20px 30px;
    height: fit-content;
    width: fit-content;
  }

  .scheduleLayout {
    /*background-color: #d1d1d15e;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: inherit;
  }

  .scheduleFRSeparator {
    height: 4vmin;
    font-family: 'Dancing Script', cursive;
    font-size: 1.7vw;
    text-align: center;
  }

  .counterBox {
    width: max-content;
    padding: 10px 0px 10px 30px;
    align-self: center;
  }

  .coursesList {
    background-color: #FFFFFF;
    height: 40vh;
    width: 100%;
    overflow: scroll;
  }

  .selectedCoursesList {
    background-color: #FFFFFF;
    height: 30vh;
    width: 100%;
    overflow: scroll;
  }

  .selectedCourseLabel {
    width: 100%;
    padding-left: 10px;
    padding-right: 5px;
  }

  Button.hidePanelButton {
    height: 100px;
    width: 5px;
    background-color: aqua;
    visibility: hidden;
  }

  Button.accordionButton {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9vw;
  }

  .text1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3.2vw;
    text-align: center;
  }

  .text2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9vw;
  }

  .text3 {
    font-family: 'Indie Flower', cursive;
    font-size: 3.0vw;
    text-align: center;
  }

  .text4 {
    font-family: 'Comfortaa', cursive;
    font-size: 0.8vw;
    font-weight: bold;
  }

  .mobileLink {
    visibility: hidden;
    position: absolute;
  }
}



@media (max-height: 400px) and (orientation: landscape){
  
  .container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: #81284121;
  }

  .coursesLayout {
    background-color: #d1d1d15e;
    height: 150vh;
    width: 45vw;
    display: flex;
    justify-content: center;
    padding: 0vh 2vw 5vh 2vw;
    overflow-y: scroll;
  }

  .schedule {
    /*background-color: aquamarine;*/
    padding: 10px 30px 20px 30px;
    height: fit-content;
    width: fit-content;
  }

  .scheduleLayout {
    /*background-color: #d1d1d15e;*/
    display: flex;
    flex-direction: column;
    justify-content: right;
    height: 100vh;
    width: inherit;
    overflow-x: scroll;
  }

  .scheduleFRSeparator {
    height: 22px;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    text-align: center;
  }

  .counterBox {
    width: max-content;
    padding: 10px 0px 10px 30px;
    align-self: center;
  }

  .coursesList {
    background-color: #FFFFFF;
    height: 40%;
    width: 100%;
    overflow: scroll;
  }

  .selectedCoursesList {
    background-color: #FFFFFF;
    height: 40%;
    width: 100%;
    overflow: scroll;
  }

  .selectedCourseLabel {
    width: 100%;
    padding-left: 10px;
    padding-right: 5px;
  }

  Button.hidePanelButton {
    height: 100px;
    width: 5px;
    background-color: aqua;
  }

  Button.accordionButton {
    font-family: 'Quicksand', sans-serif;
    font-size: 11px;
    height: 30px;
  }

  .text1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3.2vw;
    text-align: center;
  }

  .text2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
  }

  .text3 {
    font-family: 'Indie Flower', cursive;
    font-size: 27px;
    text-align: center;
  }

  .text4 {
    font-family: 'Comfortaa', cursive;
    font-size: 10px;
    font-weight: bold;
  }

}

@media (orientation: portrait) {

  .container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: #81284121;
    overflow: hidden;
  }

  .coursesLayout {
    background-color: #d1d1d15e;
    height: 100vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    padding: 0vh 2vw 5vh 2vw;
    overflow-y: scroll;
  }

  .schedule {
    /*background-color: aquamarine;*/
    padding: 10px 30px 20px 30px;
    height: fit-content;
    width: fit-content;
  }

  .scheduleLayout {
    /*background-color: #d1d1d15e;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: inherit;
    overflow: scroll;
  }

  .scheduleFRSeparator {
    height: 22px;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    text-align: center;
  }

  .counterBox {
    width: max-content;
    padding: 10px 0px 10px 30px;
  }

  .coursesList {
    background-color: #FFFFFF;
    height: 40%;
    width: 100%;
    overflow: scroll;
  }

  .selectedCoursesList {
    background-color: #FFFFFF;
    height: 40%;
    width: 100%;
    overflow: scroll;
  }

  .selectedCourseLabel {
    width: 100%;
    padding-left: 10px;
    padding-right: 5px;
  }

  Button.hidePanelButton {
    height: 100px;
    width: 5px;
    background-color: aqua;
  }

  Button.accordionButton {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    height: 30px;
  }

  .text1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3.2vh;
    text-align: center;
  }

  .text2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
  }

  .text3 {
    font-family: 'Indie Flower', cursive;
    font-size: 27px;
    text-align: center;
  }

  .text4 {
    font-family: 'Comfortaa', cursive;
    font-size: 10px;
    font-weight: bold;
  }

  .desktopLink {
    visibility: hidden;
    position: absolute;
  }

}


/*
@media (min-height: 600px) and (orientation: landscape)  {

  .container {
    min-height: 100vh;
    min-width: 100vw;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: #81284121;
  }

  .schFrame {
    background-color: #2fe3e6;
    height: 95vh;
    width: 70vw;
    display: flex;
    align-items:inherit;
    overflow: scroll;
  }
  
  .schedule {
    background-color: #efe3e6;
    height: fit-content;
    width: fit-content;
    padding: 1vh 4vw 5vh 4vw;
  }
  
  .coursesList {
    height: 45vh;
    width: 25vw;
  }
  
  .selectedCourses {
    height: 30vh;
    width: 25vw;
  }
  
  .button1 {
    height: 5vh;
    width: 5vh;
  }

  .button2 {
    width: 25vw;
    height: 5vh;
  }

  .text1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3.2vh;
    text-align: center;
  }

  .text2 {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5vh;
  }

  .text3 {
    font-family: 'Comfortaa', cursive;
    font-size: 1.7vh;
  }

}

@media (orientation: portrait)  {

  .container {
    min-height: 100vw;
    min-width: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: #81284121;
  }
  
  .schedule {
    background-color: #efe3e6;
    height: 100vw;
    width: 70vh;
  }
  
  .coursesList {
    height: 45vw;
    width: 25vh;
  }
  
  .selectedCourses {
    height: 30vw;
    width: 25vh;
  }
  
  .button1 {
    height: 5vw;
    width: 5vw;
  }
  
}

@media (max-height: 600px) {

  .container {
    min-height: 600px;
    min-width: 1200px;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: left;
    background-color: #81284121;
  }

  .coursesContainer {
    width: 400px;
    padding-right: 100px;
  }

  .schFrame {
    background-color: #2fe3e6;
    height: 95vh;
    width: 70vw;
    display: flex;
    align-items:inherit;
    overflow: scroll;
  }
  
  .schedule {
    background-color: #efe3e6;
    height: 500px;
    width: 750px;
  }
  
  .coursesList {
    height: 250px;
    width: 300px;
  }
  
  .selectedCourses {
    height: 200px;
    width: 300px;
  }
  
  .button1 {
    height: 5vh;
    width: 5vh;
  }

  .button2 {
    height: 30px;
    width: 300px;
  }

  .text1 {
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
    text-align: center;
  }

  .text2 {
    font-family: 'Dancing Script', cursive;
    font-size: 12px;
  }

  .text3 {
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
  }
}
*/